extends layout

block content
  
  main.author_page 

    section.authors.author

        div.user_info 

            div.img-cover.big_cover
              if user.Photo
                img.user_pic.big_pic(src='/images/' + user.Photo.file_name, alt='user pic') 
              else 
                img.user_pic.no_pic(src='/images/no_photo.png', alt='user pic')

            h1.author_name #{user.first_name} #{user.last_name}


    section.posts

      h2 Last posts
      
      ul.posts_list 

        each val in posts
          li.post_elem(id='post_' + val.id)
          
            div.post_area

              div.text_area
              
                a(href="/post/" + val.id + "/" + val.UserId) 
                  h3.black_link #{val.title} 

                if val.body 
                  p.post_text #{val.body}

              div.like_area
                if JSON.parse(JSON.stringify(val)).PostLike  
                  img.like_pic.liked(src='/images/liked.svg', alt='liked', id='like_post_' + val.id)
                else 
                  img.like_pic(src='/images/like.svg', alt='like', id='like_post_' + val.id)


